html, body{
    height: 100%;
}

*{
    background-color: lightblue;
}
input{
    background-color: white;
    margin-right: 2%;
}
button{
    background-color: white;
    margin-left: 2%;
}

.banner{
    display: flex;
    justify-content: center;
    
}
.information{
    display: grid;
    grid-template-columns: 33%  33%  33%;
    grid-template-rows: 50%  50%;
    column-gap: 20px;
    row-gap: 20px;
    height: 90%;
    width: 100%;
}

.displayTemps{
    margin-top: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.windAndRain{
    margin-top: 25px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.locationInfo{
    margin-top: 25px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.test{
    margin-top: 25px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}